  <h1 class="ts1" >
    WELCOME TO {{title}}
  </h1>


  <div style="margin-left: 150px;margin-right: 150px">
        <nav class="navbar " style="background-color: black">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">VehicleApp</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/vehicle" routerLinkActive="active">Vehicle</a></li>
            <li><a routerLink="/route" routerLinkActive="active">Route</a></li>
          </ul>
        </nav>
      
      </div>
  
  <router-outlet></router-outlet>
  <br>
<div style="margin-left: 150px;margin-right: 150px;color: white">
   <nav class="navbar"style="background-color: black">
    <p style="text-align: center">Deependra Chaudhary</p>
    <p style="text-align: center">Cubic @2017</p>
   </nav>
</div>


